node_modules
vendor
.git
.env
.env.*
storage/*.key
.phpunit.result.cache
public/storage
bootstrap/cache/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
*.log
.DS_Store
Thumbs.db